<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.liuyuntao.mapper.HreoMapper">
    	<select id="selecthreo" parameterType="map" resultType="com.liuyuntao.beans.Hreo">
    		SELECT * FROM hreo,camp WHERE hreo.`cid`=camp.`cid`
    	</select>
    </mapper>
